/* ESTILO DE LA LANDING PAGE */

.landing {
  background-image: url(../src/assets/landing.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  background-attachment: fixed;
}

.custom-bg {
  background-color: rgba(19, 153, 216, 0.3);
}